name: Lint
on:
  push:
    branches:
      - "*"
jobs:
  nix:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install nix
        uses: DeterminateSystems/nix-installer-action@v21
      - name: Nix flake check
        run: nix flake check
