name: Lint
on:
  push:
    branches:
      - "*"
jobs:
  nix:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Install nix
        uses: DeterminateSystems/nix-installer-action@d96bc962e61b3049ce8128d03d57a1144fa96539
      - name: Nix flake check
        run: nix flake check
